.services-list {
    display: table;
    width: 100%;
    opacity: 1;
    margin-bottom: 30px;
    transition: all .3s;

    &.load {
        opacity: .7;
    }

}
.services-row {
    display: table-row;

    &:first-child {
        text-align: center;
        font-weight: bold;
    }

    & > div {
        display: table-cell;
        vertical-align: middle;
        padding: 5px 10px;
    }
    &_image-wrap {
        position: relative;
        width: 64px;
        height: 64px;
        margin: auto;
        overflow: hidden;
        border-radius: 100%;
        text-align: center;
        display: inline-block;
        vertical-align: middle;

        img {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

        .no-photo-master {
            display: inline-block;
            width: 50px;
            height: 50px;
            background: url("/bitrix/templates/aspro_next/images/svg/icons_mask.svg") 0px 0px no-repeat;
            background-color: #107bb1;
            background-position: -100px 0px;
        }

    }

    &_name-wrap {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        white-space: nowrap;
    }

    &_button {
        text-align: right;
    }

    &_button button {
        background-color: #e41d3e;
        color: #fff;
        padding: 6px 15px;
        border-radius: 5px;
        font-weight: normal;
        cursor: pointer;
        display: inline-block;
        margin: auto;
        transition: all .3s;
        border: none;

        &:hover {
            background-color: #333;
        }
    }

    &_status {
        padding: 0 20px !important;

        span {
            display: block;
            padding: 2px 5px;
            border-radius: 4px;
            border: 2px solid #31FF00;
            text-align: center;
        }
        span.busy {
            border: 2px solid #e41d3e;
        }
    }
}
.sections-list {
    margin-bottom: 30px;

    &_item {
        border: 2px solid #94A9FB;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 23px;
        margin-right: 10px;
        margin-top: 10px;
        cursor: pointer;
        transition: all .3s;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.35);

        &.selected {
            background-color: #94a9fb;
            color: #fff;
        }

        &:hover {
            border: 2px solid #e41d3e;
            box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.55);
        }
    }
}
